$radius: 15px;

.StepperButtonWrap {
  background: linear-gradient(to right, red, purple);
  padding: 3px;
  border-radius: $radius * 1.2;
}

.StepperButton {
  cursor: pointer;
  background-color: var(--surface);
  border: none;
  font-weight: bold;
  border-radius: $radius;
  padding: 10px;
  line-height: 1;
  font-size: 15px;
  color: var(--primary);
  transition: background-color 150ms;

  &:hover {
    background-color: var(--surface-opacity-80);
  }

  &.StepperButtonActive {
    background-color: transparent;
    color: white;
  }
}
