$radius: 15px;
$transition-duration: 150ms;

.StepperButton {
  background: linear-gradient(-30deg, red, purple, purple, orange);
  padding: 3px;
  border-radius: $radius * 1.2;
  transition: background $transition-duration ease-out;
  background-size: 200% 100%;
  cursor: pointer;
  border: none;
  font-weight: bold;
  line-height: 1;
  font-size: 15px;
  color: var(--primary);

  &:hover {
    &:not(.StepperButtonActive) {
      background-position: 100%;

      > .StepperButtonWrap {
        background-color: var(--surface-opacity-80);
      }
    }
  }

  &.StepperButtonActive {
    background-position: 100%;
    color: white;

    > .StepperButtonWrap {
      background-color: transparent;
    }
  }

  > .StepperButtonWrap {
    background-color: var(--surface);
    padding: 10px;
    transition: background-color $transition-duration;
    border-radius: $radius;
  }
}
