@import "mixin";

$primary: #039BE5;
$gradient-start: $primary;
$gradient-middle: #0097A7;

html.dark-theme {
  @include theme($primary, #282A3A, white, $gradient-start, $gradient-middle, $gradient-start);
}
