@mixin theme($primary, $background, $surface, $text) {
  $primary-dark: darken($primary, 10%);
  --primary: #{$primary};
  --primary-dark: #{$primary-dark};
  --primary-light: #{lighten($primary, 10%)};
  --primary-opacity-10: #{rgba($primary, .1)};
  --surface: #{$surface};
  --surface-opacity-80: #{rgba($surface, .8)};
  --background-primary: #{darken($primary-dark, 7%)};
  --background-surface: #{darken($surface, 7%)};
  --text: #{$text};
  --text-opacity-30: #{rgba($text, .3)};
}
