@font-face {
  font-family: "Exo2";
  src: url("fonts/Exo2-VariableFont_wght.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
}

html {
  font-size: 18px;
  @include mobile {
    background-color: var(--surface);
  }
  @include desktop {
    background: linear-gradient(90deg, var(--background-primary) 50%, var(--background-surface) 50%, var(--background-surface) 100%);
  }
}

body {
  margin: 0;
  font-family: Exo2, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);

  > #root {
    display: table;
    height: inherit;
    width: 100%;

    > #rootChild {
      display: table-cell;
      height: inherit;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
