$directions: ("t": "top", "r": "right", "b": "bottom", "l": "left");

@each $letter, $direction in $directions {
  .m#{$letter}-0 {
    margin-#{$direction}: 0;
  }
}

.m-0 {
  margin: 0;
}

$spaces: ("0": 0, "1": .25rem, "2": .5rem, "3": 1rem, "4": 1.5rem, "5": 3rem);

@each $num, $space in $spaces {
  .my-#{$num} {
    margin-top: $space;
    margin-bottom: $space;
  }
}
